container_commands:
  01_create_upstream_conf:
    command: "mkdir -p /etc/nginx/conf.d && printf 'upstream docker {\n    server 127.0.0.1:8501;\n    keepalive 256;\n}\n' > /etc/nginx/conf.d/elasticbeanstalk-nginx-docker-upstream.conf"
  02_restart_nginx:
    command: "systemctl restart nginx || systemctl start nginx"
